pipeline/webactvty_sendmail.json
{
	"name": "webactvty_sendmail",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "src_webactvty",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_webactvty",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-16.uksouth.logic.azure.com:443/workflows/4507c17bbea54340b562201119540c0e/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=cZqmv0hOr6J3-M-szE5xAD2R_muG5tXH70QDYLynuTU",
					"body": {
						"PipelineName": "@{pipeline().Pipeline}",
						"DataFactoryName": "@{pipeline().DataFactory}",
						"RunIDs": "@{pipeline().RunId}",
						"Errormessage": "@{activity('Copy data1').output .errors[0].Message}"
					}
				}
			}
		],
		"folder": {
			"name": "webactvty_sendmail"
		},
		"annotations": []
	}
}